<div class="main">
  <div class="skeleton-banner">
    <div class="skeleton-iframe"></div>
    <div class="skeleton-title">
      <div class="skeleton-text skeleton-title-text"></div>
      <div class="skeleton-text skeleton-subtitle-text"></div>
      <div class="skeleton-buttons">
        <div class="skeleton-btn"></div>
        <div class="skeleton-btn"></div>
      </div>
    </div>
  </div>
  <div class="skeleton-movie-slider" *ngFor="let i of [1, 2, 3, 4]">
    <div class="skeleton-slider-title"></div>
    <div class="skeleton-scroller">
      <div class="skeleton-card" *ngFor="let j of [1, 2, 3, 4, 5, 6, 7, 8]">
        <div class="skeleton-card-image"></div>
        <div class="skeleton-card-text"></div>
      </div>
    </div>
  </div>
</div>