<section>
    <div class="genres">
        <h4>Genres</h4>
        <ul>
            @for(list of genres.genres;track list.name;){
            <li (click)="filterGenres(list.id)" [class]="list.id===selected_genres?'active':''">{{list.name}}</li>
            }
        </ul>
    </div>
    <div class="hr-line"></div>
    <div class="language">
        <h4>Language</h4>
        <ul>
            @for(language of languages; track language.code){
                <li (click)="filterLanguage(language.code)" [class]="language.code===selected_language?'active':''">{{language.name}}</li>
            }
        </ul>
    </div>
</section>